<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Este sitio fue creado por Pablo Bonillo, usa datos de mapbox.com y darksky.net para obtener información del clima</p>
        <p>Esta es una foto de robomongo abrazando a un muñeco de nieve</p>
        <img class="portrait" src="./img/robomongo.png" alt="robomongo">
    </div>

    {{>footer}}
</body>

</html>